name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests

      # BƯỚC QUAN TRỌNG: Đăng nhập vào Docker Hub bằng Secrets đã cài
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Thiết lập Buildx để build image tối ưu hơn
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # BƯỚC QUAN TRỌNG: Build Image từ Dockerfile và Push lên
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Hãy đảm bảo tên repo trên Docker Hub của bạn là 'movie-catalog-service'
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/movie-catalog-service:latest
